$brand-hue: 230;
$brand-saturation: 81%;

@import '../../../steamloach-scss/variables/color' ;
//Theme
$page-background: $shade-white;

//Fonts
$text-font: 'Roboto', sans-serif; 
$title-font: 'Poppins', sans-serif;


