$brand-hue: 250;
$brand-saturation: 81%;
$accent-hue: 280;
$accent-saturation: 90%;


@import '../../../steamloach-scss/variables/color' ;
//Theme
$page-background: $shade-white;

//Fonts
$text-font: 'Roboto', sans-serif; 
$title-font: 'Poppins', sans-serif;


